body {
    background-color: #DDD200;
    
}
.wrapper {
    background-color: #C2C2AD;
    max-width: 1060px;    
    margin: 0 auto;
    padding: 30px;
}
h1 {
    text-align: center;
    font-size: 48px;
}
